.contact-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../utils/images/contact-section-background-img.jpg);
    background-size: cover;
    background-position: center;
}

.contact-img {
  max-width: 100%; /* scale down if container is smaller */
  height: 100%;    /* maintain aspect ratio */
  display: block;  /* optional: removes inline spacing */
}
